body {
  margin: auto;
  background: url('./images/background4.jpg');
  background-size: cover;
  color: dimgray;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}
/* HEADER STYLE CSS */
header {
  background-color: whitesmoke;
  opacity: 80%;
  border-radius: 30px;
  border-left: dashed 1px dimgray;
  border-right: dashed 1px dimgray;
}
#logo {
  display: flex;
  justify-content: center;
  flex: 1;
  vertical-align: middle;
  max-height: 100%;
  margin: 0;
}
#storeinfo {
  text-align: center;
  padding: 3px;
}
nav {
  border-bottom: 0.1px solid lightgray;
  border-bottom-style: dashed;
}
nav a {
  display: block;
  text-align: center;
}
nav a:visited {
  color: #c86b85;
}
/* SIDE MENU CSS */
aside {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 3em;
  text-align: center;
  font-size: 1.5em;
}
aside ul {
  list-style-type: none;
  margin: 3em 5px;
  padding: 0;
}
aside ul li {
  color: dimgray;
  margin: auto;
}
aside li a {
  display: block;
  padding: 8px 0px 8px 8px;
  text-decoration: none;
}
aside li a:visited {
  color: #c86b85;
}
aside li a:hover {
  background-color: dimgray;
  color: #ffe2e2;
  border-radius: 3px;
}
/* DROPDOWN SORTING MENU*/
#sort {
  width: 100%;
  display: inline-block;
}
.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}
.dropdown {
  display: block;
  text-align: center;
}
.dropdown-menu {
  display: none;
  background-color: #f9f9f9;
  width: auto;
  z-index: 1;
}
.dropdown-menu a {
  color: black;
  padding: 1em 1.4em;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: dimgray;
}
.dropdown:hover .dropdown-menu {
  display: block;
  width: 100%;
  text-align: center;
}
/* MAIN COLUM CSS -- headline, products content*/
main {
  width: 100%;
  float: left;
  margin: auto;
}
#summary h3 {
  text-align: left;
  padding: 5px;
  margin: 15px;
}
#welcome {
  color: #c86b85;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
#welcome-msg {
  display: block;
  text-align: center;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-stretch: narrower;
  opacity: 70%;
}
main figure {
  float: left;
  padding: 5px;
  margin: 1.2em;
}
main figure img {
  height: 18em;
  width: 18em;
  border-radius: 5px;
}
main figure figcaption {
  width: 18em;
  height: 3em;
  font-size: 0.9em;
  overflow: hidden;
  margin: 0.5em 0 0;
}
.price {
  text-align: right;
  font-weight: bold;
  padding-top: 2px;
  padding-right: 2px;
}
main figure button {
  padding: 9px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: medium;
  border: 1px dashed lightgray;
  border-radius: 5px;
  background: 0;
}
.like {
  padding: 6px 10px 2px 10px;
  vertical-align: middle;
  float: left;
  color: #c86b85;
}
.addCart {
  float: right;
}
main figure button:hover {
  background-color: lightgray;
}
/* POPUP WINDOW CSS -- for image enlarge viewing */
#popupWindow {
  position: fixed;
  top: 5em;
  left: 10em;
  border: 1px solid lightgray;
  padding: 2em;
  background-color: white;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}
#popupImage {
  max-width: 100%;
}
#popupWindow .close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid dimgray;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  margin: 2px;
  background-color: #ffe2e2;
  cursor: pointer;
}
#popupbg {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
/*BACK BUTTON*/
#backTop {
  float: right;

  border: 0;
  background: 0;
  margin: 0 1em 1em 0;
  text-align: center;
}
#backTop img {
  opacity: 50%;
  width: 1.8em;
  margin-bottom: -0.5em;
}
#backTop a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}
#backTop a:visited {
  color: #c86b85;
}
/* FOOTER CSS */
footer {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}
footer .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  padding-top: 1em;
  border-top: 0.1px solid lightgray;
  border-top-style: dashed;
}
#social-link {
  width: 50%;
  margin-left: 0.5em;
  display: flex;
  justify-content: flex-start;
}
#social-link img {
  height: 2.2em;
  width: 2.2em;
  padding: 0 0.5em;
}
footer form {
  display: flex;
  justify-content: flex-end;
}
#input-email {
  padding-right: 0;
  margin-right: 0;
  margin-left: 0.5em;
  display: flex;
  justify-content: flex-end;
}
#submit-email {
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
}
#submit-email input {
  color: white;
  font-weight: bolder;
  border: 1px solid dimgray;
}
